* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("kepek/hatter.jpg");
}

main {
  display: grid;
  grid-template-areas:
    "h h"
    "n n"
    "as ar"
    "f f";
  grid-template-columns: 1fr 4fr;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  background-color: RGB(255, 255, 230);
}

header {
  grid-area: h;
  background-image: url("kepek/fejlec.jpg");
  opacity: 0.8;
  height: 550px;
}

header h1 {
  color: red;
  font-weight: bold;
  font-family: cursive;
  margin-top: 60px;
  text-align: center;
}

nav {
  grid-area: n;
  height: 50px;
  background-color: red;
}

nav ul {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

nav li {
  list-style-type: none;
  padding: 5px;
  border-top: 1pt solid white;
  border-bottom: 1pt solid white;
  text-align: center;
}

nav li:hover {
  background-color: green;
  cursor: pointer;
  transition: 0.3s;
}

nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

aside {
  grid-area: as;
  padding: 10px;
}

aside img {
  width: 100%;
  border: red solid 1px;
  padding: 2px;
}

article {
  grid-area: ar;
  padding: 10px;
}

article h2 {
  font-size: 15px;
  color: #ff1a1a;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

article p {
  text-align: justify;
  font-size: 10px;
}

article img {
  float: right;
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.37) 10px 10px;
}

footer {
  grid-area: f;
  background-color: red;
}

footer p {
  padding: 20px 0px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px) {
  main {
    grid-template-areas:
      "h"
      "n"
      "ar"
      "as"
      "f";
    grid-template-columns: 1fr;
    width: 100%;
  }

  aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
